<style type="text/css">

	.cards {
		width: 150px;
		margin: 4px 0;
		background-color: maroon;
		color: white;
	}

	.columns {
		height: 650px;
		background-color: gray;
	}

	.portlet {
		margin: 0 1em 1em 0; 
		background-color: white;
	}
	
	.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
	.portlet-header .ui-icon { float: right; }
	.portlet-content { padding: 0.4em; }


</style>



<h1>ScrumBoard</h1>

<div class="row">
	<div id="column-one" class="span3 columns">
		<p>ToDo (all)</p>

		<div class="input-append">
			<%= form_for @project, :remote => true do |f| %>
				<%= f.text_field :name, :class => "input-medium" %>
				<%= f.submit "add", :class => "btn" %>
			<% end %>
		</div>		

		<% @projects.each do |project| %>
			<div class="portlet">
				<div class="portlet-header"><%= project.name %></div>
				<%= link_to "show details", project_path(project.id), :remote => true %>
				<%= link_to "hide details", 'javascript:;', :id => project.id, :class => "hide-link" %>
				<div id= "project-<%= project.id %>" class="portlet-content"></div>
			</div>
		<% end %>

	</div>
	<div class="span3 columns">
		<p>ToDo (this week)</p>
	</div>
	<div class="span3 columns">
		<p>Started</p>
	</div>
	<div class="span3 columns">
		<p>Done</p>
	</div>	
</div>