//alert("hello world!")

//$('#project-<%= @project.id %>').append('<%= form_for @task, :remote => true do |t| %><%= t.hidden_field :project_id, :value => @project.id %><%= t.text_field :name, :class => "input-medium" %><%= t.submit "add", :class => "btn" %><% end %>');

<% if @project.status == "In Progress" %>
	
	
	
	
	//alert($('#portlet-ip-<%= params[:index] %>').index());
	
	var row = $('#portlet-ip-<%= params[:index] %>').index();
	
	//alert(row)

	$('.portlet-ip').eq(row).after('<%= j(render(:partial => "expanded", :locals => { :project => @project })) %>');
	$('.portlet-ns').eq(row).after('<%= j(render(:partial => "expanded", :locals => { :project => @project })) %>');
	
	
<% else %>

$('#project-<%= @project.id %>').append('<%= form_for @task, :remote => true do |t| %><%= t.hidden_field :project_id, :value => @project.id %><%= t.text_field :name, :class => "input-medium" %><%= t.submit "add", :class => "btn btn-mini" %><% end %>');

$('#project-<%= @project.id %>').append('<% @project.tasks.each do |task| %><div class="tasks"><%= task.name %></div><% end %>');


<% end %>




