<style type="text/css">

	body {
		background-color: #E8E8E8;
	}

	.cards {
		width: 150px;
		margin: 4px 0;
		background-color: maroon;
		color: white;
	}
	
	.tasks {
		margin: 2px;
		width: 80%;
		background-color: #99CCFF;
	}

	.columns {
		height: 650px;
		background-color: white;
	}
	
	.column-header {
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: black;
		background-color: white;
	}

	.portlet {
		margin: 0 1em 1em 0;
		border-width: 1px;
		border-style: solid;
		border-color: #99CCFF;
	}
	
	.no-sort {
		margin: 0 1em 1em 0;
		background-color: light-gray;
	}
	
	.portlet-header { 

		background-color: #99CCFF;
	}
	
	.portlet-header .ui-icon {
		float: right;
	}
	
	.portlet-content {
	}

</style>

<div class="row">
	<div class="span4 column-header"><h4>&nbsp;&nbsp;&nbsp;ToDo (this week)</h4></div>
	<div class="span4 column-header"><h4>&nbsp;&nbsp;&nbsp;Started</h4></div>
	<div class="span4 column-header"><h4>&nbsp;&nbsp;&nbsp;Done</h4></div>
</div>

<div class="row">
	<div id="column-one" class="span4 columns">

		<% @not_started_projects.each_with_index do |project, index| %>
			<div class="portlet portlet-ns" id="porlet-ns-<%= index + 1 %>">
				<div class="portlet-header">
					<strong><%= project.name %></strong><br />
					<%= link_to "show details", project_path(project.id), :remote => true %>
					<%= link_to "hide details", 'javascript:;', :id => project.id, :class => "hide-link" %>
				</div>
				<div id= "project-<%= project.id %>" class="portlet-content"></div>
			</div>
		<% end %>
		
			<div class="portlet-ns no-sort">
				<div class="portlet-header">
					<strong>SPACER</strong><br />
					<a href="#">spacer link</a>
					<a href="#">spacer link</a>
				</div>
				<div class="portlet-content"></div>
			</div>
			
			<div class="portlet-ns no-sort">
				<div class="portlet-header">
					<strong>SPACER</strong><br />
					<a href="#">spacer link</a>
					<a href="#">spacer link</a>
				</div>
				<div class="portlet-content"></div>
			</div>					
		
		

		<button id="modal-button" type="button">Add project</button>

	</div>
	<div class="span4 columns">
		
		<% @started_projects.each_with_index do |project, index| %>
			<div class="portlet portlet-ip" id="portlet-ip-<%= index + 1 %>">
				<div class="portlet-header">
					<strong><%= project.name %></strong><br />
					<%= link_to "show details", project_path(:id => project.id, :index => index + 1), :remote => true %>
					<%= link_to "hide details", 'javascript:;', :id => project.id, :class => "hide-link" %>
				</div>
				<div id= "project-<%= project.id %>" class="portlet-content"></div>
			</div>
		<% end %>		
		
	</div>
	<div class="span4 columns">
		
	</div>

</div>


<div id="myModal" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add project</h3>
  </div>
  <%= nested_form_for @project, :remote => true do |f| %>
  <div id="add-project" class="modal-body">		
			<%= f.label :name, "Project Name" %>
			<%= f.text_field :name, :class => "input-xlarge" %>
			<%= f.label :notes, "Notes" %>
			<%= f.text_area :notes, :class => "input-xlarge", :rows => 5 %>
			<%= f.label :status, "Status" %>								
			<%= f.select(:status, options_for_select([["Not Started", "Not Started"], ["Planned", "Planned"], ["In Progress", "In Progress"], ["Resolved", "Done"]])) %>	

			<table id="table-<%= @project.id %>" class="table table-condensed">
				<tr><th>Name</th><th>Due</th><th>Button</th></tr>
			</table>

			<%= f.fields_for :tasks do |ff| %>
				<%= ff.label :name, "Task Name" %>
				<%= ff.text_field :name, :class => "input-xlarge" %>
			<% end %>
			
			<p><%= f.link_to_add "Add a task", :tasks %></p>

	</div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
    <%= f.submit "Add project", :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>
